:root {
  --primary-color: #fff;
  --secondary-color: #9acd32;
  --headline-color: #222;
  --text-color: #666;
  --light-grey: #f5f5f5;
  --grey: #e5e5e5;
  --dark-grey: #a0a0a0;
  --light-green: #f2f9e4;
  --light-red: #fdeeeb;
  --red: #e62600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

.container {
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg, #153677, #4e085f);
  padding: 0.625rem;
}

.todo-app {
  width: 100%;
  max-width: 34rem;
  background: var(--primary-color);
  margin: 6.25rem auto 1.25rem;
  padding: 2.5rem 1.875rem;
  border-radius: 10px;
}

.todo-app h2 {
  color: var(--headline-color);
  margin-bottom: 1.25rem;
}

.todo-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-form input {
  width: calc(100% - 3.625rem);
  padding: 1.25rem;
  border: none;
  outline: none;
  background: var(--grey);
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.add-btn {
  border: none;
  outline: none;
  width: 3.625rem;
  height: 3.625rem;
  background: var(--secondary-color);
  color: var(--primary-color);
  font-size: 2.625rem;
  cursor: pointer;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

p.notice {
  color: var(--red);
  margin-top: 0.375rem;
}

.todo-list {
  margin-top: 1.5rem;
}

.todo-list li {
  background: #fbfbfb;
  border-radius: 6px;
  padding: 1.5rem 1.25rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list li div {
  display: flex;
  justify-content: space-between;
}

.todo-list li label {
  flex: 1;
  padding: 0.125rem;
  margin: 0 .75rem;
  border-radius: 4px;
  transition: 0.2s;
}

.todo-list li label:focus {
  background: var(--grey);
  outline: none;
}

.todo-list li label[contenteditable]:hover {
  background: var(--grey);
}

.todo-list li.completed {
  background: var(--light-green);
}

.todo-list li.completed label {
  text-decoration: line-through;
  color: var(--secondary-color);
}

.checkbox {
  appearance: none;
  display: grid;
  place-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border: 2px solid var(--dark-grey);
  border-radius: 100%;
  background: transparent;
}

.checkbox:checked {
  border: none;
}

.checkbox:checked::before {
  content: "";
  width: 0.375rem;
  height: 1rem;
  border: solid var(--secondary-color);
  border-width: 0 6px 6px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  margin-bottom: 0.25rem;
}

.remove-btn {
  border: none;
  background: transparent;
  font-size: 1.25rem;
  cursor: pointer;
}