:root {
  --white: #fff;
  --green: #9acd32;
  --green-gradient: #d9f3a0, var(--green);
  --light-grey: #f8f8f8;
  --grey: #e5e5e5;
  --dark-grey: #938d8c;
  --light-green: #f5faeb;
  --light-red: #fbf4f2;
  --red: #e62600;
  --text-color: #4A5045;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: var(--text-color);
}

header {
  width: 100%;
  height: 12rem;
  background: linear-gradient(135deg, var(--green-gradient));
  padding-top: 3rem;
}

header h1 {
  font-size: 1.25rem;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
}

.todo-app {
  min-height: calc(100vh - 11.025rem);
  background: var(--light-grey);
  margin-top: -0.975rem;
  padding: 1.25rem 1rem 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.todo-form {
  position: relative;
}

.todo-form .todo-input {
  font-size: 1rem;
  font-weight: 300;
  width: calc(100% - 2rem);
  padding: 0.875rem 1.25rem;
  margin: 0 1rem;
  border: none;
  outline: none;
  background: var(--white);
  border-radius: 8px;
}

.todo-form .add-btn {
  position: absolute;
  content: "";
  display: block;
  width: 1.125rem;
  height: 1.125rem;
  border: none;
  outline: none;
  background-image: url('img/icon_add.svg');
  background-repeat: no-repeat;
  background-color: transparent;
  right: 2rem;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

p.notice {
  color: var(--red);
  margin-top: 0.375rem;
}

.task-count {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25rem;
  font-weight: 500;
}

.task-count .count-display,
.task-count span {
  color: var(--dark-grey);
}

.progress-bar {
  width: 100%;
  height: 0.5rem;
  background: var(--grey);
  border-radius: 4px;
}

.progress-bar .progress {
  height: 100%;
  background: linear-gradient(45deg, var(--green-gradient));
  border-radius: 4px;
}

.todo-list {
  margin-top: 1rem;
}

.todo-list li {
  font-weight: 300;
  background: var(--white);
  box-shadow: 0px 3px 12px 0px rgba(74, 80, 69, 0.08);
  border-radius: 8px;
  padding: 0.8125rem 1rem;
  margin-bottom: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list li div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.todo-list li label {
  flex: 1;
  padding: 0.125rem;
  margin: 0 .75rem;
  border-radius: 4px;
  transition: 0.2s;
}

.todo-list li label:focus {
  background: var(--grey);
  outline: none;
}

.todo-list li label[contenteditable]:hover {
  background: var(--grey);
}

.todo-list li.completed {
  background: var(--light-green);
}

.todo-list li.completed label {
  text-decoration: line-through;
  color: var(--green);
}

.checkbox {
  appearance: none;
  display: grid;
  place-content: center;
  width: 2rem;
  height: 2rem;
  border: 2px solid var(--grey);
  border-radius: 100%;
  background: transparent;
}

.checkbox:checked {
  border: none;
}

.checkbox:checked::before {
  content: "";
  background-image: url(img/icon_check.svg);
  background-repeat: no-repeat;
  width: 1.875rem;
  height: 1.5rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

.overlay.open {
  opacity: 1;
  visibility: visible;
}

.edit-btn {
  border: none;
  background: transparent;
  font-size: 1.25rem;
  cursor: pointer;
}

.edit-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
  background: var(--white);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1rem;
  list-style: none;
}

.edit-menu.open {
  transform: translateY(0);
}

.link {
  cursor: pointer;
}